version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: internship-finder-postgres
    environment:
      POSTGRES_DB: internship_finder
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
